.project-container{
    display: flex;
    flex-direction: row;
    /*kecici*/
    width: 126%;
    margin-left: -13.5%;
    justify-content: space-between;
    padding-top: 80px;
    padding-bottom: 70px;
    background-color: #EFEADE;
    border-top: 1px solid #435877;
    border-bottom: 1px solid #435877;

    
}



.project-image{
    width: 40%;
    align-content: center;
    margin-left: 5%;
}

.project-image img{
    width: 100%;
}


.project-form-container{
    width: 45%;
}

.project-form-heading h2{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
    text-align: center;
    color: #435877;
    text-align: left;
    margin-top: 0;
}

.project-form-heading p{
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;
    color: #435877;

    text-align: left;

    width: 60%;

}

.project-form{
    width: 100%;
    
}

.project-form-row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.project-form-row input{
    width: 45%;
    padding-top: 11px;
    padding-bottom: 10px;
    padding-left: 15px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: #CCD7E9;

    border: none;
    margin-bottom: 25px;

}

.project-form-column{
    display: flex;
    flex-direction: column;
}

.number{
    width: 45%;
    padding-top: 11px;
    padding-bottom: 10px;
    padding-left: 15px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: #CCD7E9;

    border: none;
    margin-bottom: 25px;
}

.submit{

    width: 48%;
    padding-top: 11px;
    padding-bottom: 10px;
    padding-left: 15px;
    background-color: #435877;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #FEFCF6;
    border: none;

}
